:root{
--cor-texto-principal: #ffffff;
 --cor-texto-secundario:#c0c0c0;
  --bot達o-principal:#167bf7;
 --bot達o-secundario: #00030c;

}

*{
margin: 0;
padding: 0;
}

body{

background-color: var(--bot達o-secundario);
color:var(--cor-texto-principal)

}

.principal{
    background-image: url(img/m_138_0_1_01112023185732.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    height: 100vh;
}


.cover--botao{

background-color: var(--bot達o-principal);
}

