:root{
--cor-texto-principal: #ffffff;
 --cor-texto-secundario:#c0c0c0;
  --botão-principal:#f4f8fc;
 --botão-secundario: #00030c;

}

*{
margin: 0;
padding: 0;
}

body{

background-color: var(--botão-secundario);
color:var(--cor-texto-principal)

}

.principal{
    background-image: url(img/m_138_0_1_01112023185732.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover{
    height: 100vh;
}


.cover--botao{

background-color: var(--botão-principal);
color: var(--botão-secundario);
padding: 1em;
border-radius: 4px;
text-decoration: none ;


}

